<div>
    <img src="@ViewBag.Product.PathImage" alt="Тут картинка">
</div>
<div>
    <p>Подробнее о продукте</p>
    <h1> @ViewBag.ProductName</h1>
    <p>Стоимость @ViewBag.Product.Cost</p>
    <p>Описание @ViewBag.Product.Description</p>
    <p>Описание @ViewBag.Product.PathImage</p>
</div>